#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.img-user{
  border-radius:50% ;
  height: 100px;
  margin: auto;
}
.info_user{
  border-top: 1px dashed black;
  padding-top: 50px;
  width: 500px;
  margin:auto;
  margin-top: 50px;
  
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
